body {
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s;
}

.btn {
  padding: 15px;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #1f2937; /* Noir background */
  color: white;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #374151; /* Lighter noir background */
  transform: scale(1.05);
}

.start {
  display: inline-block;
}

.pause,
.stop {
  display: none;
}

.card {
  background-color: rgba(31, 41, 55, 0.7); /* Transparent noir */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); /* Soft white shadow */
  max-width: 350px;
  margin: auto;
}
